.data-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

@media (min-width: 641px) {
    .data-list {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}