@media (min-width: 641px) {
    ::deep .item-table .mud-table-cell {
        padding-inline-start: 2px;
        padding-inline-end: 2px;
    }
    ::deep .item-table .mud-table-cell:last-child {
        padding-right: 12px;
        padding-inline-end: 12px;
    }

    ::deep .item-table th:nth-child(8), ::deep .item-table td:nth-child(8) {
        width: 40px;
    }
}

::deep .item-table th {
    font-weight: 700 !important;
}

::deep .item-table th:nth-child(1), ::deep .item-table td:nth-child(1) {
    text-align: left;
}

::deep .item-table th:nth-child(6), ::deep .item-table td:nth-child(6) {
    text-align: center;
}

::deep .item-table .is-template td {
    font-style: italic;
}

.det-content {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    gap: 12px;
}
::deep .det-content > *:first-child {
    flex: 1;
}
.det-info {
    display: flex;
    flex-direction: column;
    min-width: 30vw;
}
.det-info-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
::deep .det-info-item > *:first-child {
    grid-column: 1;
    text-align: right;
    padding-right: 8px;
}
::deep .det-info-item > *:nth-child(2) {
    grid-column: 2;
}

@media (min-width: 641px) {
    ::deep .item-table th:nth-child(1), ::deep .item-table td:nth-child(1) {
        padding-left: 0.6em;
    }
    ::deep .item-table .is-template td:nth-child(1) {
        padding-left: 2.5em;
    }

    .det-content {
        flex-direction: row;
        gap: 8px;
    }
}