@page "/Authorized"
@attribute [Authorize]
@inject AppDataService appDataService

<h1>You are authorized!</h1>

<AuthorizeView>
    <p>@context.User.Identity?.Name</p>
</AuthorizeView>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        appDataService.SetTitle("Authorized View");
    }
}