
div.enter-with {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 12px;
}

a.enter-with {
    text-decoration: none;  
    line-height: 24px;
    font-size: 12pt;
    color: #333;
    border-radius: 4px;
    min-width: 220px;
    box-shadow: #999 1px 1px 8px 1px;
    padding: 6px 8px;
    transition: all ease-in .1s;
}
a.enter-with:active, a.enter-with:hover {
    color: #333;
}
a.enter-with:hover {
    box-shadow: #99D 1px 1px 8px 1px;
}
a.enter-with:active {
    transform: translate(2px, 2px);
}

a.enter-with > img {
    width: 24px;
    height: 24px;
    margin: 0 2px 0 0;
}