@page "/Login"
@using LTres.Olt.UI.Client.Services
@inject AppPageLocalizer<Login> localizer
@inject AuthenticationStateProvider authenticationStateProvider

<PageTitle>@localizer.GetTitle("Login")</PageTitle>

<div class="enter-with">
    @foreach (var scheme in SchemesList)
    {
        var formattedName = char.ToUpper(scheme[0]) + scheme.Substring(1).ToLower();

        <MudButton @key="@scheme" Variant="Variant.Filled" Color="Color.Primary" Class="enter-with"
            Href="@($"api/Account/Login/{scheme}?returnUrl={Uri.EscapeDataString(ReturnUrl ?? "")}")">
            <img src="img/login-@(scheme).svg" alt="" title="" />
            Enter with @formattedName
        </MudButton>
    }
</div>

@code {
    private IList<string> SchemesList = [];
    
    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var hostAuthStateProvider = authenticationStateProvider as HostAuthenticationStateProvider;
        
        if (hostAuthStateProvider != null)
            SchemesList = await hostAuthStateProvider.GetSchemesList();
    }
}
