.det-content {
    display: flex;
    flex-direction: row;
    justify-items: stretch;
}
::deep .det-content > *:first-child {
    flex: 1;
}
.det-info {
    display: flex;
    flex-direction: column;
    min-width: 30vw;
}
.det-info-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}
::deep .det-info-item > *:first-child {
    grid-column: 1;
    text-align: right;
    padding-right: 8px;
}
::deep .det-info-item > *:nth-child(2) {
    grid-column: 2;
}

@media (max-width: 641px) {
    .det-content {
        flex-direction: column;
        gap: 12px;
    }
}