@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <a href="api/Account/Logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <NavLink href="/Login">Log in</NavLink>
    </NotAuthorized>
</AuthorizeView>
