@inherits LayoutComponentBase
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1" Dense="true">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <LoginDisplay />
    </MudAppBar>
    <MudDrawer @bind-Open="@_open" ClipMode="DrawerClipMode.Always" Breakpoint="Breakpoint.Lg" Elevation="1" Variant="DrawerVariant.Mini" Overlay="false">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="page">
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </MudMainContent>
</MudLayout>

@code{
    private bool _open = false;
    
    private void ToggleDrawer()
    {
        _open = !_open;
    }
}